{{- if .Values.nats.credentials.create -}}
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "nats-k8s-oidc-callout.fullname" . }}-nats-creds
  labels:
    {{- include "nats-k8s-oidc-callout.labels" . | nindent 4 }}
type: Opaque
data:
  credentials: {{ required "nats.credentials.content is required when nats.credentials.create=true" .Values.nats.credentials.content | b64enc | quote }}
{{- end }}
