{{- if .Values.nats.userCredentials.create -}}
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "nats-k8s-oidc-callout.fullname" . }}-nats-user-creds
  labels:
    {{- include "nats-k8s-oidc-callout.labels" . | nindent 4 }}
type: Opaque
data:
  user.creds: {{ required "nats.userCredentials.content is required when nats.userCredentials.create=true" .Values.nats.userCredentials.content | b64enc | quote }}
{{- end }}