{{- if .Values.nats.signingKey.create -}}
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "nats-k8s-oidc-callout.fullname" . }}-nats-signing-key
  labels:
    {{- include "nats-k8s-oidc-callout.labels" . | nindent 4 }}
type: Opaque
data:
  signing.key: {{ required "nats.signingKey.content is required when nats.signingKey.create=true" .Values.nats.signingKey.content | b64enc | quote }}
{{- end }}