apiVersion: v1
kind: Service
metadata:
  name: {{ include "nats-k8s-oidc-callout.fullname" . }}
  labels:
    {{- include "nats-k8s-oidc-callout.labels" . | nindent 4 }}
spec:
  type: ClusterIP
  ports:
    - port: 8080
      targetPort: http
      protocol: TCP
      name: http
  selector:
    {{- include "nats-k8s-oidc-callout.selectorLabels" . | nindent 4 }}
